<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Api/RestAssured_Framework/src/test/java/api_test">
        <classes>
            <class name="api_test.PetTest"></class>
            <class name="api_test.StoreTest"></class>
            <class name="api_test.UserTest"></class>
<!--            <class name="api_test.UserTest2"></class>-->
        </classes>
    </test>
</suite>